# -*- coding: utf-8 -*-
# vim: ft=jinja

{# This is a barebones map.jinja file #}
{# We import default values that are then merged with pillar data #}

{# Imports defaults #}
{% import_yaml "vrsa_dev/vs_update/vistudio/defaults.yaml" as defaults %}

{# Merge in vasypd:lookup pillar #}
{% set vs_settings = salt['pillar.get']('banner:lookup', default=defaults.visual_studio, merge=True) %}
